<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav> 
        <ul class="nav-bar">
            <li> <a href="/home"> Home </a></li>
            <li> <a href="/about">About </a></li>
            <li><a href="/works">Works </a></li>
            <li><a href="/gallery">Gallery </a></li>
        </ul>
    </nav>
    <div>
        <h1 class= "title"> About Sam Cooke</h1>
        </div>
        <img src="/images/Sam-Cooke2.jpeg" alt="Sam Cooke Img" width="400px" height="500px"/>
        <div>
            <p>Samuel Cook (January 22, 1931 – December 11, 1964),[4] known professionally as Sam Cooke, was an American singer and songwriter. Considered to be a pioneer and one of the most influential soul artists of all time, Cooke is commonly referred to as the “King of Soul” for his distinctive vocals, notable contributions to the genre and significance in popular music.
                Cooke was born in Clarksdale, Mississippi and later relocated to Chicago with his family at a young age, where he began singing as a child and joined the Soul Stirrers as lead singer in the 1950s. Going solo in 1957, Cooke released a string of hit songs, including “You Send Me”, “A Change Is Gonna Come”, “Cupid”, “Wonderful World”, “Chain Gang”, “Twistin' the Night Away”, “Bring It On Home to Me”, and “Good Times”. During his eight-year career, Cooke released 29 singles that charted in the Top 40 of the Billboard Pop Singles chart, as well as 20 singles in the Top Ten of Billboard’s Black Singles chart.
                In 1964, Cooke was shot and killed by the manager of a motel in Los Angeles. After an inquest and investigation, the courts ruled Cooke’s death to be a justifiable homicide. His family has since questioned the circumstances of his death.
                Cooke’s pioneering contributions to soul music contributed to the rise of Aretha Franklin, Bobby Womack, Al Green, Curtis Mayfield, Stevie Wonder, Marvin Gaye, and Billy Preston, and popularized the work of Otis Redding and James Brown. AllMusic biographer Bruce Eder wrote that Cooke was “the inventor of soul music”, and possessed “an incredible natural singing voice and a smooth, effortless delivery that has never been surpassed”.
                Cooke was also a central part of the civil rights movement, using his influence and popularity with the White and Black populations to fight for the cause. He was friends with boxer Muhammad Ali, activist Malcolm X and football player Jim Brown, who together campaigned for racial equality.</p>

        </div>



    
</body>
</html>