<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <nav> 
        <ul>
            <li> <a href="/home"> Home </a></li>
            <li> <a href="/about">About </a></li>
            <li><a href="/works">Works </a></li>
            <li><a href="/gallery">Gallery </a></li>
        </ul>
    </nav>
    <div>
        <h1> Works of Sam Cooke</h1>
        </div>
        <div>
        <h2>Discography</h2>
        <ul>
            
            <li>Sam Cooke (1958)</li>
            <li>Encore (1958)</li>
            <li>Tribute to the Lady (1959)</li>
            <li>Hits of the 50's (1960)</li>
            <li>Swing Low (1961)</li>
            <li>My Kind of Blues (1961)</li>
            <li>Twistin' the Night Away (1962)</li>
            <li>Mr. Soul (1963)</li>
            <li>Night Beat (1963)</li>
            <li>Ain't That Good News (1964)</li>
        </ul>
    </div>
            
</body>
</html>